.Header{
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
}

.Logo {
  width: 40px;
}

.AppWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: red;
  /* border: 1px red solid; */
  box-sizing: border-box;
}

.Arena {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: 1px red solid; */
}

.Editor {
  /* height: 100%; */
  /* height: calc(100%-30px); */
  /* width: 100%; */
  padding: 5px;
  color: white;
  background-color: #111111;
  border: none;
  outline: none;
  resize: none;
}

.Coderesult {

}